#input {
  margin-top: 5px;
    font: 1em sans-serif;
    font-size: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    width: 50vh;
    height: 20vh;
    resize: none;
  }

  #edit_blog_input_textarea{
    resize: none;
    width: 100%;
    height: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    margin: auto;
  }
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .button-div{
    align-self: right;
  }

  #input_label{
    margin-top: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 8px;
    margin-bottom: 5px;
  }

  #input_button
  {
    margin-top: 10px;
    margin-left: auto;
    background-color: rgb(255, 254, 255);
    display: flex;
    justify-content: end;
    color: rgb(148, 12, 198);
    font-weight: 750;
    font-size: 12px;
    padding: 10px 15px;
    border: 1px rgb(43, 43, 231);
    border-radius: 5px;
    text-align: center;
    width: min-content;
    box-shadow: 0px 0px 5px blueviolet;

  }

  .modal_btn
  {
    color: #682b70;
    font-weight: bold;
    background-color: rgb(255, 254, 255);
    box-shadow: 0px 0px 5px rgba(35, 15, 53, 0.692);
    border: 5px rgba(17, 17, 75, 0.747);
    padding: 8px 10px;
    border-radius: 8px;
    margin-left: 2px;
  }
  .modal_btn:hover{
    background-color: blueviolet;
    color: white;
  }

  #input_button:hover{
    background-color: blueviolet;
    color: white;
  }

  #input::placeholder{
    position: absolute;
  }
  #input::selection{
    direction: ltr;
  }

  .form-group{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 10px auto 0px;
    padding: 10px 20px 10px 20px;
    border: 1px solid rgba(204, 204, 204, 0.349);
    border-radius: 10px;
  }

.profile-image{
    display: inline;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.blogpost
{
    display: flex;
    /*width: max-content; */
    max-width: 700px;
    align-content: center;
    background-color: white;
    margin: 25px auto 0px;
    flex-direction: column;
    padding: 5px 15px 15px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.blogpost_text
{
    margin-top: 25px;
    display: block;
    font-size: medium;
    font-family: sans-serif;
    max-width: 1000px;


}.navbar {
  margin: auto;
  overflow: hidden;
  background-color: rgb(70, 5, 122);
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: rgb(97, 36, 112);
  color: rgb(253, 253, 253);
}

html, body {
  margin: 0px auto 10px;
  padding: 0;
}
.login-form{
  display: flex;
  flex-direction: column;
  padding: 5px 15px 15px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 200px auto 0;
  width: 45%;
  height: 80%;
  box-shadow: 0px 0px 5px #381461a4;
}

.login-form input{
  width: 50%;
  padding: 15px;
  margin: 5px auto 0;
  display: block;
  border: none;
  background: #f1f1f1;
}
.login-form label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 450;
  width: 50%;
  padding:10px;
  margin: 4px auto 0;
  display: block;
}
.login-form button{
  padding: 15px;
  width: 25%;
  display: block;
  margin: 15px auto 0;
  background-color: rgb(101, 26, 172);
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 15px;
}
.login-form button:hover{
  background-color: rgb(62, 20, 102);
}
.username-time-div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.username-time-div>h2{
  margin: 0;
  display: block;
  text-align: justify;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  line-height: 0px;
  text-transform: capitalize;
}
.username-time-div>p{
  line-height:0;
  display: block;
  font-size: 12px;
  color: grey;
  font-family: cursive;
}
.edit_btn
{
  background-color: blueviolet;
  border: 2px rebeccapurple;
  color: white;
  cursor: pointer;
}
.delete_btn{
  border: 2px rebeccapurple;
  background-color: red;
  color: white;
  cursor: pointer;
}

.inner_blog_container{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.btn{
  padding: 7px 30px;
}
.modal{
  display: none;
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  padding-top: 100px;
  z-index: 1;
  top: 0;
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 20px auto 0;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 40%;
  position: relative;
}


.like-comment-count{
  display: flex;
  gap: 35px;
}

.button-container-lc
{
  display: flex;
  gap: 50px;
  margin-top: 5px;
}
.lc_btn{
  width: 45%;
  font-size: 15px;
  font-weight: bold;
  color: blueviolet;
  background-color: rgba(137, 43, 226, 0);
  padding: 10px 65px;
  border-radius: 3px;
  border: none;
}
.lc_btn:hover{
  color: white;
  background-color: blueviolet;
}

.seperator{
  border-top: 1px solid rgba(86, 90, 86, 0.281);
}

.comment-section{
  display: flex;
  flex-direction: column;
}
.comment-input{
  display: flex;
}
.comment{
  border-radius: 10px;
  padding: 10px;
  width: 400px;
}
.comment-form{
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 10px;
  gap: 5px;
}
.comment_submit_btn{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(86, 11, 177);
  color: white;
  font-weight: bold;
}